.jumbotron {
    padding-top: 7rem;
    background-image: url(img/geometris.png);
    background-attachment: fixed;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1; 

}

.jumbotron::after {
    content: ' ';
    position: absolute;
    background-image: linear-gradient(to top, rgba(0 ,0 ,0, 1), rgba(0, 0, 0, 0));
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navbar {
    background-color: rgba(30, 30, 30, 0.8);
}

.navbar-nav {
    font-family: 'Roboto Mono', monospace;
}

.navbar-brand {
    font-family: 'Roboto Mono', monospace;
}


#sertificate {
    background-color: #ccdcf7;
}

#project {
    background-color: #8F9EFF;
}

#project img {
    /* width: 50%; */
    height: auto;
    border-radius: 3px;
}

#skill {
    background-color: #333;
}

#contact {
    color: #333;
}


.skill-logo img {
    margin: 0 25px 0 25px;
    opacity: .8;
}

section {
    padding-top: 5rem;
    font-family: 'Roboto Condensed', sans-serif;
}

section h2 {
    text-shadow: 0 1px 2px #fff;
    color: #333;
    font-size: 2.8rem;
}

#about p {
    color: #333;
}

p {
    font-size:  1em;    
}

button {
    background-color: #4a7d70 !important;
}

.bi-telephone-fill, .bi-envelope-fill, .bi-geo-alt-fill{
    color: #4a7d70;
}

.bi {
    font-size: 2.8em;
    padding: 4px;
}

.bi-facebook {
    color:#3b5998;
}

.bi-instagram {
    color: rgb(225, 48, 108);
}

.bi-twitter {
    color:  #00acee;
}

footer {
    font-family:'Roboto Mono', monospace;
    background-color:  #4a7d70;
}

.bi-suit-heart-fill {
    font-size: 1em;
}


