.jumbotron {
    padding-top: 7rem;
    background-image: url(img/banner.png);
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.navbar {
    background-color: rgba(30, 30, 30, 0.8);
}

.navbar-nav {
    font-family: 'Roboto Mono', monospace;
}

.navbar-brand {
    font-family: 'Roboto Mono', monospace;
}


#sertificate {
    background-color: #e2edff;
}

#skill {
    background-color: #333;
}

#contact {
    color: #333;
}


.skill-logo img {
    margin: 0 25px 0 25px;
    opacity: .8;
}

section {
    padding-top: 5rem;
    font-family: 'Roboto Condensed', sans-serif;
}

section h2 {
    text-shadow: 0 1px 2px #fff;
    color: #333;
}

#about p {
    color: #333;
}

p {
    font-size:  1em;    
}

button {
    background-color: #4a7d70 !important;
}

.bi {
    font-size: 2.3em;
    padding: 4px;
}

.bi-facebook {
    color:#3b5998;
}

.bi-instagram {
    color: rgb(225, 48, 108);
}

.bi-twitter {
    color:  #00acee;
}

footer {
    font-family:'Roboto Mono', monospace;
    background-color:  #4a7d70;
}

.bi-suit-heart-fill {
    font-size: 1em;
}


